#wall .tag-1 {
  display: none;
}

#wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

#wall .parent #tag-4 {
  display: none;
}

body div#wall .parent #tag-5.slick {
  display: none;
}

div#wall div.parent div:last-child div#tag-6 {
  background: url(../images/tag-6.png) no-repeat;
  z-index: 2;
  display: block;
}


